<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar(currentPath)">
    <nav class="sidebar">
        <ul class="menu">
            <li th:classappend="${currentPath == '/home'} ? 'active'">
                <a th:href="@{/home}"><i class="fas fa-home"></i> Inicio</a>
            </li>
            <li th:classappend="${currentPath == '/asignaturas'} ? 'active'">
                <a th:href="@{/asignaturas}"><i class="fas fa-book"></i> Asignaturas</a>
            </li>
            <li th:classappend="${currentPath == '/calificaciones'} ? 'active'">
                <a th:href="@{/calificaciones}"><i class="fas fa-star"></i> Calificaciones</a>
            </li>
            <li>
                <a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Salir</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
